<mat-toolbar>
    <div class="header_search">
      <img src="assets/logo.png" alt="logo" />
      <input
        type="text"
        class="header__search-input"
        placeholder="What are you want to find out"
        #searchTextBox
      />
      <button class="header__search-btn" (click)="changeSearch(searchTextBox.value)">search</button>
      <img (click)="changeSortingDisplay()" class="header__settings" src="assets/icons/settings.png" alt="settings" />
    </div>
    <div class="header_login">
      <p class="header__name">Your Name</p>
      <img src="assets/login.png" alt="login" />
    </div>
  </mat-toolbar>

