<mat-card>
    <mat-card-content>
      <form>
        <h2>Log In</h2>
        <mat-form-field>
          <input [(ngModel)]="loginData.login" matInput placeholder="Login" name="username" required>
        </mat-form-field>
        <mat-form-field>
          <input matInput [(ngModel)]="loginData.password" type="password" placeholder="Password" name="password" required>
        </mat-form-field>
        <button (click)="clickToReg($event)" class="login__reg">Registration</button>
        <button class="login__btn" (click)="clickToLogin($event)">Login</button>
      </form>
    </mat-card-content>
  </mat-card>