<mat-card>
    <mat-card-content>
      <form>
        <h2>Create new card</h2>
        <mat-form-field>
          <input matInput placeholder="Title" name="title" required>
        </mat-form-field>
        <mat-form-field>
          <input matInput placeholder="Discription" name="discription" required>
        </mat-form-field>
        <mat-form-field>
          <input matInput placeholder="Img" name="img" required>
        </mat-form-field>
        <mat-form-field>
          <input matInput  placeholder="Link video" name="linkVideo" required>
        </mat-form-field>
        <button  class="addCard__btn">Create card</button>
      </form>
    </mat-card-content>
  </mat-card>