<mat-toolbar>
    <div class="header_search">
      <img class="header__logo" src="assets/logo.png" alt="logo" (click)="goToMain()"/>
      <mat-form-field  class="header__search-input">
        <input
        matInput
        type="text"
        placeholder="What are you want to find out"
        [formControl]="search"
      />
      <mat-error *ngIf="search.hasError('minlength')">The search is too short</mat-error>
      </mat-form-field>
      <img (click)="changeSortingDisplay()" class="header__settings" src="assets/icons/settings.png" alt="settings" />
      <mat-icon *ngIf="userService.isLogged" (click)="clickAdd()" class="header__add">library_add</mat-icon>
    </div>
    <div class="header_login">
      <p *ngIf="userService.isLogged" class="header__name">{{userService.loginName$ | async}}</p>
      <img *ngIf="!userService.isLogged" class="header__login-img" src="assets/login.png" alt="login" />
      <button *ngIf="userService.isLogged" (click)="clickExit()" class="header__exit-btn" header__exit-btn >Exit</button>
    </div>
  </mat-toolbar>
  <app-filter *ngIf="sortingDisplay"></app-filter>
