.container{
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 14px;
}
.sortingBy{
  color: #929292;
}
.sorting, .filter{
  margin-left: 21px;
  text-decoration-line: underline;
  color: #2F80ED;
  cursor: pointer;
}
.filter{
  margin-right: 10px;
  text-decoration-line: none;
  cursor: default;
}
