mat-card {
    max-width: 500px;
    margin: 3em auto;
    text-align: center;
}

mat-form-field {
    display: block;
    margin: 20px 0;
}
.addCard__btn{
    bottom: 20px;
    left: 80px;
    background: #2f80ed;
    border-radius: 5px;
    border: 0px;
    width: 120px;
    height: 32px;
    filter: drop-shadow(2px 0px 4px #2f80ed);
    cursor: pointer;
    transition-duration: 0.4s;
    color: white;
    margin: 0 auto;
    margin-right: 20px;
    &:hover{
        background: #5298f3;
    }
    &:disabled{
        background: #b9b5b5;
        filter: none;
    }
}
